/*************************
    Base styles & Meta
*************************/
/* Colors */
/* http://www.paletton.com/#uid=73y270kjCre9GHNeZvOoanQrHiH */
/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
/* Function mapping */
/* Backdrop & box*/
/* Buttons */
/* Social */
/* Status */
/*@import "susy"; // Requires Susy 2.0.0 or later*/
/*@import "../vendor/compass/reset/_utilities.scss";*/
html {
  font-family: "Helvetica Neue", Verdana, sans-serif;
  color: #333332;
  background: #ffffff;
}

img {
  max-width: 100%;
}

/*************************
    Layout styles
*************************/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrapper {
  padding-top: 50px;
  display: flex;
  min-height: calc(100% - 50px);
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  position: absolute;
  width: 100%;
  height: 50px;
}

.flex-height {
  -ms-flex: 1;
  flex: 1;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
}

.main {
  background-color: #ffffff;
  -ms-flex: 1;
  flex: 1;
  display: flex;
}

.full-height {
  min-height: 100%;
  display: flex;
}

.grid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: 100%;
}
.grid:after {
  content: " ";
  display: block;
  clear: both;
}

.grid-1-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  min-width: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid-2-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
}

.grid-3-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
}

.grid-1-6 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
}

.grid-5-6 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
}

.grid-1-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
}

.grid-2-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
}

.grid-9-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
}

/*************************
    Module Styles
*************************/
/*@import "forms";*/
/*@import "button";*/
/*@import "table";*/
/*@import "modal";*/
.list-toolbar {
  text-align: right;
  margin-top: -40px;
}

.list-toolbar li {
  list-style: none;
}

/*@import "tooltip";*/
.not-started {
  background-color: #D99190;
}

.in-progress {
  background-color: #D9BA90;
}

.completed {
  background-color: #71AB75;
}

.not-started:hover {
  background-color: #e6b7b6;
}

.in-progress:hover {
  background-color: #e6d2b6;
}

.completed:hover {
  background-color: #91be94;
}

/*************************
    JS-based classes
*************************/
/*************************
    Vendor classes
*************************/

/*# sourceMappingURL=style.css.map */
