@import '../assets/scss/style';

$fa-font-path: "../bower_components/font-awesome/fonts" !default;
/*@import "../bower_components/font-awesome/scss/font-awesome";*/



/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login';
@import 'chatpanel/chatpanel';
/*@import 'document/document';*/
/*@import 'manage/projects/projects';*/
@import 'manage/teams/teams';
/*@import 'navbar/navbar';*/
/*@import 'navpanel/navpanel';*/
/*@import 'project/idea/idea';*/
@import 'project/sprint/sprint';
/*@import 'project/story/story';*/
/*@import 'project/task/task';*/
// endinjector
