@using Microsoft.AspNet.Identity
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="pic/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="~/Areas/Chatty/Content/dyn.css" rel="stylesheet" />
    <title>Messy Labbage</title>
</head>

<body>

    <div id="container">

        <div id="messageboard">
            @*<input class="btn btn-danger" type="button" id="buttonLogout" value="Logout" style="margin-bottom: 20px;" />*@
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a class="btn btn-danger" style="margin-bottom: 20px;" href="javascript:document.querySelector('#logoutForm').submit()">Log off</a>
            }
            <div id="messagearea"></div>

            <p id="numberOfMess">Antal meddelanden: <span id="nrOfMessages">0</span></p>
            Name:
            <br />
            <input id="inputName" type="text" name="name" value="@User.Identity.GetUserName()" />
            <br />
            Message:
            <br />
            <textarea name="mess" id="inputText" cols="55" rows="6"></textarea>
            <input class="btn btn-primary" type="button" id="buttonSend" value="Write your message" />
            <span class="clear">&nbsp;</span>

        </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script src="~/Areas/Chatty/Scripts/MessageBoard.js"></script>
    <script src="~/Areas/Chatty//Scripts/Message.js"></script>

    @*<script>
            $(document).ready(function () {
                MessageBoard.getMessages();
            });
        </script>*@
</body>
</html>